.contacto__contenedor__asunto__input{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: #A2A2A2;
    line-height: normal;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 4%;
    width: 97%;
    border: none;
    display: flex;
    align-items: center;
}
