.descripcion__cuerpo{
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 87.5%;
    color: #464646;
    text-align: justify;
}